@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <br/>
    <h5>Click on the links below to show the SELECT statetements and its results:</h5>
    <br/>
    <ol>
        <a asp-controller="Movies" asp-action="Solution1"><li>First Solution</li></a>
        <a asp-controller="Movies" asp-action="Solution2"><li>Second Solution</li></a>
        <a asp-controller="Movies" asp-action="Solution3"><li>Third Solution</li></a>
        <a asp-controller="Movies" asp-action="Solution4"><li>Fourth Solution</li></a>
        <a asp-controller="Movies" asp-action="Solution5"><li>Fifth Solution</li></a>
        <a asp-controller="Movies" asp-action="Solution6"><li>Sixth Solution</li></a>
        <a asp-controller="Joins" asp-action="Solution7"><li>Seventh Solution</li></a>
        <a asp-controller="ActorActress" asp-action="Solution8"><li>Eighth Solution</li></a>
        <a asp-controller="ActorActress" asp-action="Solution9"><li>Ninth Solution</li></a>
        <a asp-controller="Joins" asp-action="Solution10"><li>Tenth Solution</li></a>
        <a asp-controller="Joins" asp-action="Solution11"><li>Eleventh Solution</li></a>
        <a asp-controller="Joins" asp-action="Solution12"><li>Twelfth Solution</li></a>
    </ol>
    <br/>
</div>
